* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

html {
    width: 100%;
}

/* a {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }
  
a:hover {
    background-color: #555;
  }
  
a:active {
    background-color: black;
  }
  
a:visited {
    background-color: #ccc;
  }

  */

.links {
    background-color: #083d8c;
    text-align: right;
    height: 25px;
    padding: 10px;
}

.links a {
  text-decoration: none;
  color: white;
  text-align: right;
  margin: 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navigation a {
  text-decoration: none;
  margin-right: 30px;
}

.navigation a:visited {
  color: unset;
}

.navigation a:hover {
  font-weight: bold;
  color: #083d8c;
}

.logo {
    display: block;
}

.fa-solid.fa-location-dot {
  margin-right: 10px;
}

.header-right {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

button {
  background-color: white;
  border: 1px solid #216ddf;
  border-radius: 3px;
  height: 30px;
  color: #216ddf;
  padding: 0px 20px; /*Top/Bottom is 10px and Right/Left is 5px*/
}

nav {
    padding: 15px;
    margin-right: 15px;
}

ul {
    padding: 0;
    width: 100%;
  }
  
li {
    display: inline;
    margin-right: 10px;
    width: 25%;
  }

  .main-body {
    margin: 0 auto;
    width: 80%;
  }

  h4 {
    color: #216ddf;
  }

footer {
    background-color: #083d8c;
    font-weight: bold;
    text-align: center;
    color: white;
    height: 15%;
}

.terms {
    background-color: #216ddf;
    text-align: center;
    height: 25px;
    color: white;
}
